<div class= "text-center">
  <h1 id= "5dayForecast">Forecast for the next 5 days</h1>
  <h1 class= "place">{{ unSnakeCity() }}, {{ state }}</h1>

  <div class="row">

    <div class= "col-lg-2 col-lg-offset-1">
      <div class= "thumbnail">
        <img src= "{{ icon1 }}">
        <div class= "caption">
          <h3>High: {{ hi1 }} Low: {{ low1 }}</h3>
          <p> {{ forecast1 }} </p>
        </div>
      </div>
    </div>
    <div class= "col-lg-2">
      <div class= "thumbnail">
        <img src= "{{ icon2 }}">
        <div class= "caption">
          <h3>High: {{ hi2 }} Low: {{ low2 }}</h3>
          <p> {{ forecast2 }} </p>
        </div>
      </div>
    </div>
    <div class= "col-lg-2">
      <div class= "thumbnail">
        <img src= "{{ icon3 }}">
        <div class= "caption">
          <h3>High: {{ hi3 }} Low: {{ low3 }}</h3>
          <p> {{ forecast3 }} </p>
        </div>
      </div>
    </div>
    <div class= "col-lg-2">
      <div class= "thumbnail">
        <img src= "{{ icon4 }}">
        <div class= "caption">
          <h3>High: {{ hi4 }} Low: {{ low4 }}</h3>
          <p> {{ forecast4 }} </p>
        </div>
      </div>
    </div>
    <div class= "col-lg-2">
      <div class= "thumbnail">
        <img src= "{{ icon5 }}">
        <div class= "caption">
          <h3>High: {{ hi5 }} Low: {{ low5 }}</h3>
          <p> {{ forecast5 }} </p>
        </div>
      </div>
    </div>

  </div>

</div>

