<div ng-controller= "homeController">

      <h1 id= "home-title">Find weather for:</h1>
      <div class= "focus-circle">

        <h1 class= "place" id= "place-home">{{ unSnakeCity() }}, {{ uppercaseState() }} </h1>
        <div class= "inputs">
          <div class= "form-group">
            <label for= "city">City</label>
            <input type= "text" class= "form-control" ng-model= "city" placeholder= "Enter city">
          </div>

          <div class= "form-group">
            <label for= "state">State</label>
            <input type= "text" class= "form-control" ng-model= "state" placeholder= "Enter state abbreviation" minlength= "2" maxlength= "2">
          </div>
        </div>

      </div>

  <div class= "time-buttons">
    <a class= "btn btn-default" id= "today" href= "#/today">Today</a>
    <a class= "btn btn-default" id= "tomorrow" href= "#/tomorrow">Tomorrow</a>
    <a class= "btn btn-default" id= "five" href= "#/fiveday">5-day</a>
  </div>

  <footer>Powered by <a href= "http://www.wunderground.com/?apiref=d06c302a07e095b7">Weather Underground</a></footer>
</div><!-- controller -->
