<div ng-controller= "homeController">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 text-input">

      <h1>Find weather for</h1>
      <h1>{{ capitalizeCity() }}, {{ uppercaseState() }} </h1>

      <div class="form-group">
        <label for= "city">City</label>
        <input type= "text" class= "form-control" ng-model= "city" placeholder= "Enter city">
      </div>

      <div class="form-group">
        <label for= "state">State</label>
        <input type= "text" class= "form-control" ng-model= "state" placeholder= "Enter state abbreviation">
      </div>

    </div><!-- column -->
  </div><!-- row -->

  <div class= "time-buttons">
    <a class= "btn btn-default" id= "today" href= "#/today">Today</a>
    <a class= "btn btn-default" id= "tomorrow" href= "#">Tomorrow</a>
    <a class= "btn btn-default" id= "five" href= "#">5-day</a>
    <a class= "btn btn-default" id= "ten" href= "#">10-day</a>
  </div>

</div><!-- controller -->
